.dep-tabs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    font-weight: 500;
    font-size: 1rem;
    line-height: 133%;
    text-align: center;
    color: var(--grey-color);
}

.dep-tabs > li {
    padding: 0.5rem;
    cursor: pointer;
}

.selected-tab {
    font-weight: 600;
    font-size: 1rem;
    line-height: 133%;
    text-align: center;
    color: var(--darkest-color);
    border-bottom: 2px solid var(--main-color);
}