.searchbar {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 0.75rem;

    padding: 0.5rem;

    background: var(--almost-white-color);
    border-radius: 0.75rem;
}

.searchbar > input {
    width: 100%;
    border: none;
    background: none;

    font-weight: 500;
    font-size: 1rem;
    line-height: 133%;

    color: var(--light-grey-color);

    caret-color: var(--main-color);
}

.searchbar > input:focus {
    outline: none;
    color: #050510;
}

.filled {
    filter: invert(33%) sepia(96%) saturate(6591%) hue-rotate(251deg) brightness(104%) contrast(105%);
}